<table class="table table-bordered table-condensed">
    {% if 'hostname' in analysis.jinja_details %}
    <tr>
        <td class="col-md-1">Hostname</td>
        <td class="col-md-11">{{analysis.jinja_details['hostname']}}</td>
    </tr>
    {% endif %}
    {% if 'domain' in analysis.jinja_details %}
    <tr>
        <td class="col-md-1">Domain</td>
        <td class="col-md-11">{{analysis.jinja_details['domain']}}</td>
    </tr>
    {% endif %}
    {% if 'fqdn' in analysis.jinja_details %}
    <tr>
        <td class="col-md-1">FQDN</td>
        <td class="col-md-11">{{analysis.jinja_details['fqdn']}}</td>
    </tr>
    {% endif %}
    {% if 'mac' in analysis.jinja_details %}
    <tr>
        <td class="col-md-1">MAC</td>
        <td class="col-md-11">{{analysis.jinja_details['mac']}}</td>
    </tr>
    {% endif %}
    {% if 'owner' in analysis.jinja_details %}
    <tr>
        <td class="col-md-1">Owner</td>
        <td class="col-md-11">{{analysis.jinja_details['owner']}}</td>
    </tr>
    {% endif %}
    {% if 'os' in analysis.jinja_details %}
    <tr>
        <td class="col-md-1">OS</td>
        <td class="col-md-11">{{analysis.jinja_details['os']}}</td>
    </tr>
    {% endif %}
</table>
