<div class="panel panel-default">
    <div class="panel-heading">Total Results: <b>{{analysis.details['total_results']}}</b></div>
    <div class="panel-body">
	<div class="row">
            <div class="col-md-12">
                {% block alert_process_facet %} <pre>{{ analysis.print_facet_histogram(analysis.details['process_name_facet']) }}</pre> {% endblock %}
            </div>
        </div>
        {% for result in analysis.details['results'] %}
	<div class="well"><a href="{{result['webui_link']}}" target="_blank">{{result['start']}} UTC <b>{{result['username']}}@{{result['hostname']}}</b> <span style="color: #0000FF">{{result['path']}}</span> <span style="color: #FF0000">{{result['cmdline']}}</span> <span style="color: #008000">{{result['process_md5']}}</span> - {{result['id']}}</a></div>
        {% endfor %}
    </div>
</div>
