{% block observable_display %}
{% if _observable.display_time %}
{{_observable.display_value}} @ {{_observable.display_time}}
{% else %}
{{_observable.display_value}}
{% endif %}
{% endblock %}

{% set unique_reference = generate_unique_reference() %}

{% if _observable.jinja_available_actions %}

<span class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="action_{{unique_reference}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="action_{{unique_reference}}">
        {% for action in _observable.jinja_available_actions %}
            {% if action.name is none %}
                <li role="separator" class="divider"></li>
            {% else %}
	        {% if 'file_upload_vx' in action.name and not ace_config['gui'].getboolean('upload_vxstream') %}
		    <li><a disabled tabindex="-1"><span class="glyphicon glyphicon-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% elif 'file_view_vx' in action.name and not ace_config['gui'].getboolean('view_in_vx') %}
		    <li><a disabled tabindex="-1"><span class="glyphicon glyphicon-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% elif 'file_upload_vt' in action.name and not ace_config['gui'].getboolean('upload_vt') %}
                    <li><a disabled tabindex="-1"><span class="glyphicon glyphicon-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% else %}
                    <li><a style="cursor: pointer" id="action_{{action.name}}_{{unique_reference}}"><span class="glyphicon glyphicon-{{action.icon}}"></span>  {{action.description}}</a></li>
		{% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</span>

{% for action in _observable.jinja_available_actions %}
    {% if action.jinja_action_path %}
        {% include action.jinja_action_path %}
    {% endif %}
{% endfor %}

{% endif %}
