<tr id="event_alerts_{{event.id}}">
<td colspan="11">
    <table class="table table-bordered table-condensed">
        <tr><td class="event-cell">Comment</td><td>{{event.commentf}}</td></tr>
        <tr>
            <td class="event-cell">Companies</td>
            <td>
                {% for company in event.companies %}
                <span>{{company.name}} </span>
                {% endfor %}
            </td>
        </tr>
    </table>
    <table class="table table-bordered table-condensed">
        <tr>
            <th></th>
            <th><span>Date</span></th>
            <th><span>(Priority) Alert</span></th>
            <th><span>Owner</span></th>
            <th><span>Disposition</span></th>
            <th><span>Status</span></th>
        </tr>
        {% for event_mapping in event_mappings %}
        <tr>
            <td class="event-cell"><label><input type="checkbox" name="detail_{{event.id}}_{{event_mapping.alert.id}}" {% if event.id|string() + "_" + event_mapping.alert.id|string() in checked %}checked{% endif %}></input></label></td>
            <td style="white-space: nowrap;">{{event_mapping.alert.insert_date}}</td>
            <td>
                <a target="_blank" href="{{ url_for('analysis.index', direct=event_mapping.alert.uuid) }}">({{event_mapping.alert.priority}}) {{event_mapping.alert.description}}</a>
                {% for tag in event_mapping.alert.sorted_tags %}
                {% if tag.display %}<span class="label {{tag.style}}">{{tag.name}}</span>{% endif %}
                {% endfor %}
            </td>
            <td>{{event_mapping.alert.owner}}</td>
            <td>{{event_mapping.alert.disposition}}</td>
            <td>{{event_mapping.alert.status}}</td>
        </tr>
        {% endfor %}
    </table>
</td>
</tr>
