<table class="table">
<tr>
    <td><b>Network Name</b></td>
    <td>{{analysis.details.network_name}}</td>
</tr>
<tr>
    <td><b>Network Range</b></td>
    <td>{{analysis.details.network}}</td>
</tr>
<tr>
    <td><b>Type</b></td>
    <td>{{analysis.details.type}}</td>
</tr>
<tr>
    <td><b>Division</b></td>
    <td>{{analysis.details.division}}</td>
</tr>
<tr>
    <td><b>Location</b></td>
    <td>{{analysis.details.location}}</td>
</tr>
<tr>
    <td><b>Name</b></td>
    <td>{{analysis.details.name}}</td>
</tr>
<tr>
    <td><b>Comment</b></td>
    <td>{{analysis.details.comment}}</td>
</tr>
</table>
