<table class="table table-striped">
	<tr>
		{% if select %}<th></th>{% endif %}
		<th>To</th>
		<th>From</th>
		<th>Subject</th>
		<th>Error</th>
	</tr>
	{% for target in targets %}
	<tr{% if target["remediated"] %} class="success"{% endif %}>
		{% if select %}<td><input type="checkbox" checked id='remediation_target_{{target["oid"]}}'></td>{% endif %}
		<td>{{target["recipient"]}}</td>
		<td>{{target["sender"]}}</td>
		<td>{{target["subject"]}}</td>
		<td>{{target["error"]}}</td>
	</tr>
        {% endfor %}
</table>
