# generic defaults
function is_internal(a: addr): bool {
    # returns T if a given address is an internal (owned) address
    return ( a in 10.0.0.0/8
        || a in 192.168.0.0/16
        || a in 172.16.0.0/12 );
}

function record_smtp_stream(c: connection):bool {
    # returns T if this connection is an SMTP session we want
    return c$id$resp_p == 25/tcp || c$id$orig_p == 25/tcp;
}
