//rule created automatically with crits intelligence
rule TEMPLATE_RULE_NAME
{
    meta:
        author = "CRITS Export"
        file_name = "email.rfc822.headers"
    strings:
TEMPLATE_STRINGS
    condition:
        any of them
}
