# the services will be started in the following order
# (and then stopped in reverse order)
# comment out the services you don't want to use

network-server
network-semaphore
carbon-black-engine
correlation-engine
email-scanning-engine
http-scanning-engine
