{% extends "analysis/alert.html" %}
{% block alert_details %}

<div class="panel panel-default">
    <div class="panel-heading">Request Details <a role="button" data-toggle="collapse" data-target="#collapse_request_details" aria-expanded="true" aria-controls="collapse_request_details">(hide/show)</a></div>
    <div class="panel-body collapse" id="collapse_request_details">
        {# the context is mostly freeform #}
        <pre>{{ analysis.jinja_details | pprint }}</pre>
        {% if 'context' in analysis.details and 'c' in analysis.details['context'] %}
        {% endif %}
    </div>
</div>

<div class="alert alert-info" role="alert">This may have been related to <a href="{{ url_for('analysis.index', direct=analysis.details['context']['c']) }}">another alert.</a></div>

{% endblock %}
