{% extends "analysis/alert.html" %}
{% block alert_details %}
{% if analysis.details['email'] %}
<ul class="list-group">
    {% if 'env_mail_from' in analysis.details['email'] %}
    <li class="list-group-item">MAIL FROM: {{ analysis.details['email']['env_mail_from'] }}</li>
    {% endif %}
    {% if 'env_rcpt_to' in analysis.details['email'] %}
    <li class="list-group-item">RCPT TO: {{ analysis.details['email']['env_rcpt_to'] | join(', ')}}</li>
    {% endif %}
    {% if 'reply_to' in analysis.details['email'] %}
    <li class="list-group-item">Reply-To: {{ analysis.details['email']['reply_to']}}</li>
    {% endif %}
    {% if 'return_path' in analysis.details['email'] %}
    <li class="list-group-item">Return-Path: {{ analysis.details['email']['return_path']}}</li>
    {% endif %}
    <li class="list-group-item">To: {{ analysis.details['email']['to'] | join(', ')}}</li>
    <li class="list-group-item">Subject: {{ analysis.details['email']['subject']}}</li>
    {% if 'decoded_subject' in analysis.details['email'] %}
    <li class="list-group-item">Decoded Subject: {{ analysis.details['email']['decoded_subject']}}</li>
    {% endif %}
    {% if 'connection_id' in analysis.details['email'] %}
    <li class="list-group-item">Connection ID: {{ analysis.details['email']['connection_id'] }}</li>
    {% endif %}
    {% if 'message-id' in analysis.details['email'] %}
    <li class="list-group-item">Message-ID: {{ analysis.details['email']['message-id'] }}</li>
    {% endif %}
    {% if 'originating_ip' in analysis.details['email'] %}
    <li class="list-group-item">Originating IP: {{ analysis.details['email']['originating_ip'] }}</li>
    {% endif %}
</ul>
    
<div class="panel panel-default">
    <div class="panel-heading">Headers <a role="button" data-toggle="collapse" data-target="#collapse_headers" aria-expanded="false" aria-controls="collapse_headers">(hide/show)</a></div>
    <div class="panel-body collapse" id="collapse_headers">
        <pre>{% for header, value in analysis.details['email']['headers'] %}{{header}}: {{value}}
{% endfor %}
        </pre>
    </div>
</div>

{% endif %}
{% endblock %}
