{% extends "analysis/alert.html" %}
{% block alert_details %}
<div class="panel panel-default">
    <div class="panel-heading">Snort Alert Summary</div>
    <div class="panel-body">
        {% for row in analysis.details %}
        <div class="well">{{row['_time']}} <b>{{row['host']}}</b> <span style="color: #0000FF">source <b>{{row['src_ip']}}</b>:{{row['src_port']}}</span> <span style="color: #FF0000">dest <b>{{row['dest_ip']}}</b>:{{row['dest_port']}}</span> <span style="color: #006633">sequence <b>{{row['Seq']}}</b></span></div>
        {% endfor %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Snort Alert Raw Details</div>
    <div class="panel-body">
        {% for row in analysis.details %}
        <div class="well">{{row['_raw'] }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
