.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:before {
    content: " ▼";
}

.strike  {
  text-decoration: line-through;
}

.toggle .header.open:before {
    content: " ▲";
}
