Flask
Flask-Bootstrap
Flask-Login
Flask-SQLAlchemy 
Flask-Script
Flask-WTF
MarkupSafe
Pandas
Pillow
PyMySQL
SQLAlchemy==1.2.7
WTForms
beautifulsoup4
businesstime
cbapi==1.3.6
cbinterface
dnspython
html2text
iptools
ldap3==2.5 
lxml
msoffice_decrypt
olefile
oletools
openpyxl
pcodedmp
pip
ply
psutil 
pyasn1 
pymongo==2.8
pysocks
python-magic
python-memcached
pytz 
requests
setuptools_git 
six
sphinx
sphinx_rtd_theme
splunklib
tld
tzlocal
urlfinderlib
vxstreamlib
yara_scanner
sandboxapi
