Flask
Flask-Bootstrap
Flask-Login
Flask-SQLAlchemy 
Flask-Script
Flask-WTF
MarkupSafe
Pandas
Pillow
PyMySQL
SQLAlchemy==1.2.7
WTForms
beautifulsoup4
businesstime
cbapi
cbinterface==1.1.6
dnspython
html2text
iptools
ldap3==2.5 
lxml
msoffice_decrypt
olefile
oletools
openpyxl
pcodedmp
pip
ply
psutil 
pyasn1 
pymongo==2.8
pysocks
python-magic
python-memcached
pytz 
requests
setuptools_git 
six
splunklib
tld
tzlocal
urlfinderlib
vxstreamlib
yara_scanner
